/*week-month calendar*/

.btn-monthly-data {
	background-image: linear-gradient(74deg, #f566ab, #97b6ff);
	color: #ffffff;
	font-family: 'ProximaNovaRegular';
	font-size: 13px;
}

.btn-monthly-data :visited {
	box-shadow: 3px 3px 5px 0 rgba(242, 105, 174, 0.25) !important;
	color: #ffffff;
	font-family: 'ProximaNovaRegular';
	font-size: 13px;
	background-color: #525d95;
	border: 2px solid transparent;
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(#525d95, #525d95), linear-gradient(74deg, #f566ab, #97b6ff);
}

.monthly-view {
	padding-top: 0;
}


/*popover content*/

.arrow-sec {
	margin: 0 12px;
	cursor: pointer;
}

::ng-deep .popover-header {
	background-image: linear-gradient(74deg, #f566ab, #97b6ff);
	color: #ffffff;
	font-size: 17px;
	letter-spacing: 0.5px;
	padding: 8px;
	text-align: center;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
#nextyeararrow {
	float: left;
}
.calendar_year_text {
	display:inline-block;
}
#prevyeararrow {
	float: right;
}

.monthMainDiv {
	display: flex;
	margin-top: 12px;
	padding:0 8px;
}

::ng-deep .popover-body {
	padding: 0 !important;
}

.monthDiv {
	border: solid 1px #4d588d;
    text-align: center;
    color: #4d588d;
    font-weight: normal;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    margin: 0 3px;
    padding: 2px 10px;
    border-radius: 2px;
	line-height: 1.4;
	cursor: pointer;
}

.monthdivactive {
	background-color: #4d588d;
	color: #ffffff;
	border: none;
}

.monthdivdeactive {
	background-color: #d0ced9;
	color: #ffffff;
	border: none;
}

.weekBox {
	background-color: #4d588d;
	width: auto;
	height: fit-content;
	color: #fff;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	margin: 0 1px;
	font-family: proximanovaregular;
	cursor: pointer;
}

.weekBox span {
	font-weight: bold;
}

.weekactive {
	background-color: #8093ff !important;
}
.weekdeactive{
	opacity: 0.35 !important;
}
.weekBox label {
	font-size: 11px;
    opacity: 0.75;
	margin-bottom: 0 !important;
}
.monthcontainer{
	display: -webkit-inline-box;
	width: 100%;
	margin: 0 27px;
}

.cancelBtn {
	border-radius: 2px;
	background-color: #4d588d;
	border: transparent;
	color: #fff;
	font-size: 13px;
	padding: 0 7px;
	line-height: 2;
	cursor: pointer;
}

.submitBtn {
	font-size: 13px;
	border-radius: 2px;
	background-color: #f069ae;
	border: transparent;
	color: #fff;
	float: right;
	padding: 0px 11px;
	line-height: 2;
	cursor: pointer;
}

.button-sec {
	margin: auto !important;
	width: 45%;
	/* border: 3px solid #73AD21; */
	padding: 10px;
}
#popContent{
	margin-top: 10px;
    background-color: white;
    position: absolute;
    z-index: 1;
	margin-left: -170px;
	width: 382px;
}

/*laptop and mobile*/

@media screen and (max-width: 480px) and (min-width: 320px) {
	.employee-details {
		margin: 0 3px;
		height: auto;
	}
	.report {
		padding-top: 20px !important;
	}
	.content-sec {
		padding-top: 15px;
	}
	.horizontal-line {
		margin: 0;
	}
	/*.access-table td , th{
text-align: left;
}*/
	table {
		border-collapse: inherit;
	}
	.access-table {
		margin-left: 0;
	}
	.access-table th {
		padding: 0% 2% 0 1%;
	}
	.access-table tbody td {
		padding: 0 5px 10px !important;
	}
	.mobile-customisation {
		margin-bottom: 0;
	}
	.table-details {
		font-size: 12px;
		color: #ffffff;
	}
	.table-sec {
		padding: 0;
	}
	.swipe-details th,
	.swipe-details td {
		font-size: 11px;
		text-align: center;
	}
	.multiselect-dropdown .dropdown-list {
		height: auto;
	}
	.scroll-area {
		height: auto;
		overflow-y: auto;
	}
	 ::ng-deep .form-adjust {
		width: auto!important;
	}
	/*week-month calendar button*/
	

	/*pop-over*/
	 ::ng-deep .popover {
		left: 19px !important;
		right: 15px;
	}
	
	}

/*mobile landscape*/
@media screen and (device-width: 640px) and (device-height: 360px) and (orientation: landscape) {
	.table-sec {
		border-collapse: collapse;
		padding-top: 8px;
	}
	.scroll-area {
		height: auto;
		overflow-y: auto;
	}
	.access-table td,
	th {
		text-align: center;
		font-weight: normal;
	}
	.access-table tbody td {
		padding: 10px 5px 10px !important;
	}
	.custom-label {
		width: 25% !important;
		margin-bottom: 4px;
	}
	.access-table th {
		padding: 2% 2% 2% 1%;
	}
	.multiselect-dropdown .dropdown-list {
		height: auto;
	}
	.dp-details {
		height: 125px;
	}
	.monthly-view {
		padding: 2px 20px;
		display: table;
		width: 100%;
	}
	/*monthly -weekly button*/
	.button-wrapper {
		float: left;
		padding-bottom: inherit;
	}
	.btn-monthly-data {
		display: table-cell;
		vertical-align: middle;
	}
	/*popup*/
	 ::ng-deep .popover {
		right: 196px;
	}
}

/* iphone landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	 ::ng-deep .form-adjust {
		width: auto;
	}
	.dp-details {
		height: 125px;
	}
	/*monthly -weekly button*/
	.button-wrapper {
		float: left;
	}
	/*popup*/
	 ::ng-deep .popover {
		right: 196px;
	}
}


/*ipad*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	::ng-deep .progress__value-text {
		left: 19px !important;
	}
	.access-table tr {
		border-bottom: solid 2px rgba(255, 255, 255, 0.06);
		font-weight: 600;
	}
	.multiselect-dropdown .dropdown-list {
		height: auto;
	}
	.report {
		padding-top: initial !important;
	}
	 ::ng-deep .form-adjust {
		width: 70% !important;
	}
	.dp-details {
		margin: 15px 0;
	}
	/*monthly -weekly button*/
	.button-wrapper {
		float: none;
	}
	.button-wrapper .btn-monthly-data {
		padding: 6px;
	}
	/*pop up*/
	 ::ng-deep .popover {
		left: -133px !important;
	}
	/*mobile landscape*/
}
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1)  and (orientation: portrait) {
	::ng-deep .monthly-view{
		padding-top: 22px;
	}
}