<div class="center">
  <div class="container content-box">
    <app-header></app-header>
    <router-outlet></router-outlet>	
    <!--<div class="col-sm-12 downld-rep-sec">
      <app-footer></app-footer>  
    </div>-->
    <hr class="hr2"/>    
    <footer class="page-footer footer-cust">
      <div class="report-issue"><a href="https://photon.service-now.com/photon?id=p_catalog_item&sys_id=bb3e5924db0eb20015b05fa0cf961935" target="_blank">Report an Issue</a></div>
    </footer>     
  </div>
</div>
<ngx-spinner bdColor = "rgba(20,9,54,0.60)" size = "medium" color = "#c1c1c1" type = "timer"></ngx-spinner>